body {
  font-family: 'Ubuntu', sans-serif;
}


.page-game{
  width: 900px;
  height: 600px;
  background-image: url(../img/free-landscape-vectors_64726.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 100px auto;
  position: relative;
}

@keyframes slidein {
  0% {
    top: -400px;
  }
  100% {
    top: 0px;
  }
}

.image-intro{
  animation: slidein 2s;
  margin: 0 auto;
  padding-top: 10px;
  width: 450px;
  position: absolute;
  left: 220px;
  z-index: 1000;
}

.image-intro img{
  width: 100%;
}

@keyframes boom {
  0% {
    font-size: 1rem;
  }
  25% {
    font-size: 1.02rem;
  }
  50% {
    font-size: 1.05rem;
  }
  75% {
    font-size: 1.02rem;
  }
  100% {
    font-size: 1rem;
  }
}


.button-start{
  animation: boom 1s;
  animation-iteration-count: infinite;
  text-align: center;
  color: #FFF;
  opacity: 0.8;
  position: relative;
  top: 500px;
  margin: 0 auto;
}

.infoGame{
  animation: infoGame 1s;
  top:495px;
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: rgba(242, 59, 59, 0.9);
  border-top: 5px solid #ffffff;
  z-index: 900;
}

@keyframes infoGame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.heart-0{
  width: 150px;
  height: 50px;
  top: 25px;
  left: 90px;
  position: absolute;
}

.heart-1{
  width: 150px;
  height: 50px;
  top: 25px;
  left: 160px;
  position: absolute;
}

.heart-2{
  width: 150px;
  height: 50px;
  top: 25px;
  left: 230px;
  position: absolute;
}

.heart-0 > img, .heart-1 > img, .heart-2 > img{
  height: 100%;
}

.score{
  animation: infoUser 1s;
  top:10px;
  position: absolute;
  color: #ffffff;
  z-index: 900;
  left: 70%;
}

.user {
  width: 120px;
  height: 90px;
  position: absolute;
  background-size: cover;
  left: 20px;
  top: 210px;
  background-image: url(../img/airplane-sprite.png);
  animation: airplane 0.3s steps(4) infinite;
  z-index: 800;
}

@-webkit-keyframes airplane{
  100% {background-position: -538px;}
}

.user-crash {
  width: 140px;
  height: 100px;
  position: absolute;
  background-size: cover;
  transform: rotate(30deg);
  background-repeat: no-repeat;
  background-image: url(../img/crash-sprite.png);
  animation: airplanecrash 0.4s steps(4) infinite;
  z-index: 800;
}

@-webkit-keyframes airplanecrash{
  100% {background-position: -560px;}
}

.enemy {
  width: 65px;
  height: 60px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/birds.png);
  animation: birds 0.7s steps(8) infinite;
  left: 850px;
}

@-webkit-keyframes birds{
  100% {background-position: -472px;}
}


.gift {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 850px;
}

.point-1{
  position: absolute;
  background-size: cover;
  background-image: url(../img/coin-1.png);
  animation: coin 1s steps(10) infinite;
  z-index: 300;
}

.point-2 {
  position: absolute;
  background-size: cover;
  background-image: url(../img/coin-2.png);
  animation: coin 1s steps(10) infinite;
  z-index: 300;
}

.point-3 {
  position: absolute;
  background-size: cover;
  background-image: url(../img/coin-3.png);
  animation: coin 1s steps(10) infinite;
  z-index: 300;
}

@-webkit-keyframes coin{
  100% { background-position: -399px; }
}

.gameOver{
  animation: gameOver 2s;
  top:-5px;
  width: 100%;
  height: 605px;
  position: absolute;
  background-color: rgba(3, 95, 252, 1);
  border-top: 5px solid #ffffff;
  z-index: 1200;
}

@keyframes gameOver {
  0% {
    top:495px;
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(242, 59, 59, 0.9);
    border-top: 5px solid #ffffff;
    z-index: 900;
  }
  100% {
    top:-5px;
    width: 100%;
    height: 605px;
    background-color: rgba(3, 95, 252, 1);
  }
}

.finalScore{
  animation: finalScore 3s;
  top:40%;
  position: absolute;
  color: #ffffff;
  z-index: 900;
  left: 30%;
  font-size: 4rem;
}

@keyframes infoGame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
